.button {
  background-color: #1a659e; /* Set background color */
  border: none; /* Remove borders */
  color: white; /* Set text color */
  padding: 10px 20px; /* Set padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display to inline block */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.2s ease; /* Add transition */
}

/* Hover state */
.button:hover {
  background-color: #004e89;
}

.resizable {
  resize: both;
  overflow: auto;
}
